/* globals */
.background-grey, .square-grey {
  background-color: #d6d6d6;
}

.uppercase {
  text-transform: uppercase;
}

h4 {
  color: #5e5e5e;
  font-size: 22px;
}

@media (min-width: 992px) {
  .col-lg-half-offset{
      margin-left:4.166666667%
  }
}

/* colums custom */
@media (min-width: 992px) {
  .col-custom-5 {
    width: 20%;
  }
}

/* navbar */
.navbar {
  border-bottom: none;
  margin-bottom: 0;
}

.navbar ul.nav.navbar-nav li {
  margin-right: 25px;
}

.navbar ul.nav.navbar-nav li a:not(.active) {
  color: white;
}

.navbar ul.nav.navbar-nav li.active a {
  background-color:white;
  color: #d6d6d6;
}

.navbar-default .navbar-toggle {
  background-color: #cacaca;
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  height: 5px;
  margin: 2px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #cbcbcb;
    overflow-x: hidden;
    padding: 0;
    transition: 0.5s;
  }
}

.navbar-collapse ul {
  padding: 25px;
}

button[data-toggle=offcanvas] {
  transition: .15s;
}

#collapsable-content {
  transition: .15s;
}

.collapse.sidebar-offcanvas {
  display: block;
}

/* jumbotron */
.jumbotron {
  padding-left: 55px;
  background-color: #eeeeee;
}

.jumbotron.visible-xs {
  text-align: center;
  padding-left: 0;
  background-color: #eeeeee;
}

.jumbotron.visible-xs button {
  width: 80%;
}
.jumbotron.hidden-md {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 34px;
  color: #5e5e5e;
}

.jumbotron p {
  font-size: 20px;
  color: #aeaeae;
}

.jumbotron button {
  width: 100%;
  color: white;
  padding: 20px 0;
  border-radius: 0;
  margin-top: 40px;
}

/* articles */
.articles {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 200px;
}

.articles ul {
  list-style: none;
  padding: 0 10px 0 10px;
}

.articles ul li {
  display: inline-block;
  padding: 0;
  padding-bottom: 5px;
}

.articles ul li article {
  height: 150px;
  width: 150px;
  background-color: #eee;
}

/* footer */
footer {
  background-color: #484848;
}

footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

footer ul li {
  display: inline-block;
  color: white;
  margin: 30px 25px;
  font-size: 12px;
}

footer ul li.visible-xs {
  padding: 0;
  margin: 30px 12px;
}
